* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

header {
    padding: 60px;
    text-align: center;
    background: #1abc9c;
    color: white;
    font-size: 30px;
    height: 100%;
    width: 100%;
    margin: 0;
}

main {
    display: flex;
    gap: 75px;
}

h2 {
    text-transform: uppercase;
}


button {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: white;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
    background-color: #1abc9c;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
}

button:focus {
    outline: 0;
    box-shadow: 0 0 0 .15rem #7a7a69
}

#card-container {
    display: flex;
    gap: 75px;
    flex-wrap: wrap;
}

.card {
    border: 2px solid black;
}